#admin_form_parent {
  min-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
}

#admin_form_child {
  padding: 50px 0;
  border-radius: 15px;
  min-height: 900px;
  width: 100%;
}

#navbarAdmin {
  height: 70px;
  background-color: black;
}
#navbarAdminChild {
  height: 100%;
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#adminLogoutBtn {
  padding: 10px;
  background-color: rgb(1, 4, 11);
  color: aliceblue;
  border-radius: 10px;
  border: 1px solid white;
}

#adminLogoutBtn:hover {
  background-color: rgba(255, 255, 255, 0.203);
}

#admin_logo_img:hover {
  cursor: pointer;
}
