.main-footer{
    padding: 40px 5%;
    width: 100%;
    color: #353535;
    opacity: 0.8;
    font-family: 'Roboto';
}
.f-line{
    width: 50%;
    border: 1px solid #1414146b;
    height: 1px;
    margin: 5px 0px;
}

.lightColor{
    color:#fff;
}

.darkColor{
    color:#161c24;
}

a{
    text-decoration: none !important;
    color: #353535 !important;
}

.social-logos{
    height: 20px;
    width: 20px;
    margin: 5px;
    cursor: pointer;
}

.right-footer{
    padding: 0% 5%;
    padding-left: 40px;
}
.left-footer { 
    padding-left: 40px;
}

.footer-rows-mobile{
    display: none !important;
  }

  .footer-mobile { 
    display: none !important;
  }
  .bottom-line {
    height: 1px;
    border: 1px solid #EAE8ED;
  }
@media only screen and (max-width: 480px){
   /* .main-footer{
    padding: 0px 20%;
   } */
   .bottom-line{
    margin: 0 5%;
   }
   .footer-rows-mobile {
    display: flex !important;
    justify-content: right;
   }
   .footer-rows-mobile .col-xs-6{
    width: 50%;
    /* margin: auto; */
   }
   .footer-rows-desktop{
    display: none  !important;
   }
   .main-footer{
    flex-direction: column-reverse;
   }
   .left-footer{
    text-align: center;
    margin-top: 40px !important;
   }
   .left-footer div{
    justify-content: center;
   }
}
@media (min-width:480px)and (max-width : 768px){
    .footer-rows-mobile {
        display: flex !important;
        justify-content: right;
       }
       .footer-rows-mobile .col-xs-6{
        width: 50%;
        /* margin: auto; */
       }
       .footer-rows-desktop{
        display: none  !important;
       }
}
@media (min-width : 2860px) and (max-width:5120px){
    .main-footer{
        font-size: 1vw;
    }
    .social-logos{
        height: 1vw;
        width: 1vw;
    }
}

a.header__link {
    color: #005DC5 !important;
}

li.terms_page_listitem::marker {
    color: #005DC5 !important;
}