.login_divs .form {
  padding: 30px 40px;
}
#signup_here {
  /* color: rgba(25, 25, 236, 0.596); */
  cursor: pointer;
  font-weight: bold;
  /* color: black; */
  text-decoration: none;
  padding: 0px 15px;
}

#signup_here:hover {
  /* color: blue; */
  /* color: #005DC5; */
  color: #4AA081;;
  text-decoration: none;
}

#forgotPassText {
  /* color: rgba(25, 25, 236, 0.596); */
}
#forgotPassText:hover {
  /* color: blue; */
  /* color: #005DC5; */
  color: #4AA081;
  text-decoration: none;
}

#forgotpassBtn {
  /* margin-top: 10px; */
  border: none;
  background-color: transparent;
}
.remember-me {
    border: none;
    background-color: transparent;
}

.remember-me label:hover {
  /* color: #005DC5; */
  /* color: #4AA081; */
  text-decoration: none;
  cursor: pointer;
}

/* #signup_line {
  margin-top: 10px;
} */

#signup_line {
  margin-top: 20px;
  text-align: center;
}

.login_divs .form-control {
  position: relative;
  border: 0px;
}

.login_divs .form-control label {
  display: inline-block;
  margin-bottom: 5px;
  width: 100%;
  text-align: left;
} 

/* .login_divs .form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
} */

.login_divs .form-control input {
  /* border: 2px solid #f0f0f0; */
  border-radius: 40px;
  display: block;
  font-family: inherit;
  padding: 10px 20px;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

.login_divs .form-control input:focus {
  outline: 0;
  border-color: #777;
}

.login_divs .form-control.success input {
  border-color: #2ecc71;
}

.login_divs .form-control.error input {
  border-color: #e74c3c;
}

.login_divs .form-control i {
  position: absolute;
  top: 54%;
  right: 2%;
  width: 7%;
}

.login_divs .form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.login_divs .form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.login_divs .form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.login_divs .form-control.error small {
  visibility: visible;
}

#signup_btn {
  font-weight: 700;
  /* background-color: #005DC5; */
  background-color: #EFEFEF;
  /* border: 2px solid #005DC5; */
  border-radius: 40px;
  border : 0;
  /* color: #fff; */
  color: #000;
  display: block;
  font-family: inherit;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  box-shadow: 0px 8px 15px 0px rgb(0 93 197 / 20%)
}

#error_signup {
  color: red;
}

.right-container .login_divs {
  min-height: 60vh;
  display: flex;
  /* align-items: center; */
  max-width: 600px; 
  margin: "0 auto" ; 
  width:100% ; 
  font-family: 'Roboto';
}

.authbtnsocial {
  padding: 10px;
  margin-left: 25px;
  border-radius: 15px;
  border: 0;
  color: white;
}

.main-container-login{
  position: relative;
  height: 700px;
  min-height: 100vh;
}

.main-container-signup{
  position: relative;
  height: 900px;
  min-height: 100vh;
}

.main-container-refer{
  position: relative;
  height: 100%;
  min-height: 100vh;
}

.left-container {
    width: 50%;
    position: sticky;
    position: -webkit-sticky;
    height: 100vh;
    top: 0px;
    display: flex;
}

.bg-left-img{
  position: relative;
  height: 100vh;
  width: 100%;
}

.left-head{
  /* position: absolute; */
  top: 5%;
  left: 5%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 3vw;
  line-height: 53px;
  color: #fff;
}

.bg-left-content{
  /* background: rgba(255, 255, 255, 0.4); */
  width: 100%; 
  margin: 0 auto;
  /* margin-top: 200px; */
  height: 65%;
  /* left: 5%; */
  /* top: 20%; */
  /* backdrop-filter: blur(10px); */
  position: absolute;
  bottom: 10%;
}

.left-text{
  background: rgba(255, 255, 255, 0.4);
  /* margin-top: 40px; */
  width: 80%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 53px;
  color: #FFFFFF;
}
.left-text p{
  /* top: 5%; */
  /* left:17%; */
  /* position: absolute; */
  padding:5% 0% 0% 7%;
  font-family: 'Roboto';
  font-size: 2vw;
}

.right-container{
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
}
.right-container-refer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  width: 100%;
}
.right-container-refer .login_divs{
  min-height: 45vh;
  display: block;
  max-width: 600px;  
  width:100% ; 
  font-family: 'Roboto';
  text-align: center;
}

.right-container-refer .right-logo{
  cursor: pointer;
  height: 10%;
}

.right-logo{
  cursor: pointer;
  height: 6%;
}

.line{
  width: 100%;
  /* border: 1px solid rgba(0, 0, 0, 0.08); */
  height: 1px;

}

.socialbtn{
  color: #fff;
  width: 100%;
  border-radius: 40px;
  padding: 10px;
  /* background:  #fff; */
  margin-top: 25px;
  /* background: #4085F0; */
  color :#000;
  border :2px solid #EAE8ED;
  /* border: 0; */
  /* font-weight: 700; */
}
.google-logo { 
  height: 30px !important;
  /* background: #fff; */
  padding: 3px;
  width: 30px;
  border-radius: 50%;
}
.signup-div{
  margin:0px 15px;
}
.signup_text_div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_text_div p{
  margin-top: 20px;
}

.horizontal{
  width: 100%;
}

.text-blue{
  color: #4AA081 ;
}

.form-check-input:checked{
  background-color:  #4AA081 !important;
  border-color: #4AA081 !important;
}

@media (min-width:480px)and (max-width : 768px){
  .login_divs .form-control i {
    right: 10%;
  }
}

@media only screen and (max-width: 624px){
  .left-container{
    display: none;
  }
  .right-container{
    width: 100%;
    height: 100%;
  }
  .form-control label{
    margin-left: 3px ;
  }
  #signup_btn{
    margin-top: 10px;
  }
  #signup_line{
    font-size: 16px;
  }
  .horizontal{
    margin: 15px 0px;
  }
  .login_divs {
    margin : 40px auto !important;
  }
  .signup-div{
    margin-top: 10%;
  }
  .login_divs .form-control i {
    right: 5%;
  }
  .main-container-login{
    min-height: 95vh;
  }
  .main-container-signup{
    height: 930px;
  }
}

@media (min-width : 2860px) and (max-width:5120px){
  .login_divs {
    max-width: 1260px;
    font-size: 0.8vw;
  }
  .login_divs .form-control{
    font-size: 0.8vw;
  }
  .login_divs .form-control {
    margin-bottom: 40px;
  }
  .socialbtn img{ 
    width: 1vw;
    height: 1vw !important;
  }
}