$primary-color: #fff;
$secondary-color: #919eab;
$active-chip-bg: #7635dc;
$inactive-chip-bg: #242529;
$primary-bg-color: #161c24;
$error-color: rgb(238, 36, 36);
$link-color: #7635dc;
$card-bg-color: #121212;
$modal-bg-color: #151517;
$success-color: #00cd00;
$secondary-bg-color: #717478;
